.container{
    width: 600px;
    margin: 0 auto;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
}

.button{
    width: 50px;
    height: 30px;
    background-color: lightsalmon;
    font-weight: bold;
}


td.hide{
    background-color: #ffff;
}
.close{
    display: none;
}

td{
    width: 55px;
    height: 55px;
    border: 3px solid #ffff ;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

td:hover{
    background-color: aqua;
}

table{
    margin: 0 auto;
}

.hearts{
    background-color: red;
}
.spade {
    background-color: rgb(18, 216, 34);
}
.diamonds{
    background-color: rgb(247, 155, 35);
}
.crosses{
    background-color: rgba(24, 60, 219, 0.945);
}

